html, body {
  height: 100%;
  margin: 0;
  overflow: auto;
}

body {
  color: white;
  font-family: 'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  position: relative;
  background: url('./LandingPage.png') center/cover no-repeat;
  min-height: 100vh;
  margin: 0;

  /* Ensure proper overlay with gradient */
  &::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(65deg, #003F7D 2.17%, #051A3F 77.2%);
    opacity: 0.8;
    z-index: -1;
  }

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
