/* General styling for the entire app */
.App {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.app-container{
  display:flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 10rem;

}

.cards {
  width: 80vw;
  margin: 1rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
}

.Buttons {
  position: absolute;
  top:80vh;
  left:70vw;
  display: flex;
  width: 25rem;
  justify-content: space-between;
  gap: 1.5rem;
  margin: 2rem 1rem; /* Adjust margin for better spacing on smaller screens */
  flex-direction: row;
  height: 5rem;
}

Button {
  position: relative;
  height: 2rem;
}


/* Media query for smaller screens */
@media screen and (max-width: 600px) {
  .cards {
    flex-direction: column;
    align-items: center;
    gap: 1rem; /* Adjust gap for smaller screens */
  }

  .cards > * {
    width: 100%;
  }

  .cards img {
    margin-bottom: 1rem;
  }

  .Buttons {
    margin: 2rem 1rem;
  }
}

/* Media query for larger screens */
@media screen and (min-width: 600px) {
  .Buttons {
    flex-direction: row-reverse;
    margin: 2rem 3.5rem;
  }
}
